<div id="<%= dom_id movietab %>">
  <p>
    <strong>Name:</strong>
    <%= movietab.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= movietab.description %>
  </p>

  <p>
    <strong>Director:</strong>
    <%= movietab.director %>
  </p>

  <p>
    <strong>Language:</strong>
    <%= movietab.language %>
  </p>

</div>
